extend layout

block content
  section.content
    include projects/suncorp
    include projects/rea
    include projects/zoe

block scripts
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
  script(src="/js/flexslider/jquery.flexslider-min.js")
  script(src="/js/bootstrap/bootstrap-tooltip.min.js")
  script(src="/js/script.js")