extend layout

block content
  article#suncorp.project
    .container
      h2 Suncorp Bank
      p Ad meggings leggings odio incididunt. Chambray eiusmod Bushwick, pour-over disrupt Godard tattooed. Sunt freegan food truck assumenda.
      a(href="#").btn.btn-large Google Play
      a(href="#").btn.btn-large App Store
    .gallery.iphone
      .frame
        .flexslider
          ul.slides
            li
              img(src='/projects/suncorp-app-01.jpg', alt='Suncorp Mobile Bank app')
            li
              img(src='/projects/suncorp-app-02.jpg', alt='Suncorp Mobile Bank app')
            li
              img(src='/projects/suncorp-app-03.jpg', alt='Suncorp Mobile Bank app')
            li
              img(src='/projects/suncorp-app-04.jpg', alt='Suncorp Mobile Bank app')

  article#rea.project
    .container
      h2 REA Group
      p Ad meggings leggings odio incididunt. Chambray eiusmod Bushwick, pour-over disrupt Godard tattooed. Sunt freegan food truck assumenda.
      a(href="#").btn.btn-large Visit website
    .gallery.iphone
      .frame
        .flexslider
          ul.slides
            li
              img(src='/projects/rea-mobile-site-01.jpg', alt='realestate.com.au mobile site')
            li
              img(src='/projects/rea-mobile-site-02.jpg', alt='realestate.com.au mobile site')

  article#zoe.project
    .container
      h2 Standard Chartered Bank
      p Ad meggings leggings odio incididunt. Chambray eiusmod Bushwick, pour-over disrupt Godard tattooed. Sunt freegan food truck assumenda.
      a(href="#").btn.btn-large App Store
    .gallery.iphone
      .frame
        .flexslider
          ul.slides
            li
              img(src='/projects/sc-zoe-app-01.jpg', alt='Standard Chartered Zoe app')
            li
              img(src='/projects/sc-zoe-app-02.jpg', alt='Standard Chartered Zoe app')

