extend layout

block content
  article#suncorp.light.project
    .container
      h3 Suncorp Bank Native mobile apps
      p Ad meggings leggings odio incididunt. Chambray eiusmod Bushwick, pour-over disrupt Godard tattooed. Sunt freegan food truck assumenda.
      div.flexslider
        ul.slides
          li
            img(src='/projects/suncorp-app-01.png', alt='Suncorp Mobile Bank app')
          li
            img(src='/projects/suncorp-app-02.png', alt='Suncorp Mobile Bank app')

  article#rea.dark.project
    .container
      h3 realestate.com.au
      p Ad meggings leggings odio incididunt. Chambray eiusmod Bushwick, pour-over disrupt Godard tattooed. Sunt freegan food truck assumenda.
      div.flexslider
        ul.slides
          li
            img(src='/projects/suncorp-app-01.png', alt='Suncorp Mobile Bank app')
          li
            img(src='/projects/suncorp-app-02.png', alt='Suncorp Mobile Bank app')