extend layout

block content
  section.content
    include projects/suncorp
    include projects/tiger
    include projects/rea2
    include projects/rea
    include projects/zoe
    include projects/pin
    include projects/totalghost

block scripts
  script(src="/js/jquery/jquery.1.10.2.min.js")
  script(src="/js/flexslider/jquery.flexslider.min.js")
  script(src="/js/jquery/jquery.waypoints.min.js")
  script(src="/js/bootstrap/bootstrap-tooltip.min.js")

  script(src="/js/script.js")
