!!!5
html
  head
    title #{title}
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(rel="stylesheet", href="/stylesheets/style.css")
  
  body
    header
      .container
        a.logo
          h1.title 2metres
          h4.subtitle The Design of Andrew Carr

    section.content
      block content

    footer
      h4 Feeling social? Reach out!
      ul.social
        li.email
          a(href="mailto:andrew@2metr.es", title="Just plain ole email me") e
        li.twitter
          a(href="http://twitter.com/2metres", title="Follow me on twitter") t
        li.instagram
          a(href="http://instagram.com/2metres", title="Follow me on instagram") i     
        li.dribbble
          a(href="http://dribbble.com/2metres", title="Follow me on dribbble") d
      ul.social   
        li.github
          a(href="http://github.com/2metres", title="Fork me on GitHub") &#xe806; 
        li.pinterest
          a(href="http://pinterest.com/solutci", title="Follow me on Pinterest") p 
        li.linkedin
          a(href="http://linkedin.com/pub/andrew-carr/20/a52/502/", title="Stalk me on LinkedIn") l  
        li.rdio
          a(href="http://rdio.com/people/andrw_carr/", title="Follow me on rdio") r  

    block scripts
      script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
      script(src="/js/flexslider/jquery.flexslider-min.js")
      script(src="/js/script.js")