!!!5
html
  head
    title #{title}
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(rel="stylesheet", href="/stylesheets/style.css")
    
    // Business in the front
    include includes/scripts

  body
    include includes/header

    block content

    include includes/footer 

    // Party in the back
    block scripts

