btn-depth = 5px

suncorp-bg        = #006c64
suncorp-text      = whitesmoke
suncorp-btn       = #62a6a4
suncorp-btn-color = white

#suncorp

  background suncorp-bg
  color suncorp-text

  .btn
    background suncorp-btn
    color suncorp-btn-color
    box-shadow 0 btn-depth 0 darken(suncorp-btn, 20%)

  .flex-control-paging li a
    border 1px suncorp-text solid

    &.flex-active
      background suncorp-text

  .flex-direction-nav a
    color darken(suncorp-bg, 20%)

    &:hover
      color suncorp-text



rea-bg        = #c8012e
rea-text      = white
rea-btn       = whitesmoke
rea-btn-color = #c8012e

#rea
  background rea-bg
  color rea-text

  .btn
    background rea-btn
    color rea-btn-color
    box-shadow 0 btn-depth 0 darken(rea-btn, 20%)

  .flex-control-paging li a
    border 1px rea-text solid

    &.flex-active
      background rea-text

  .flex-direction-nav a
    color darken(rea-bg, 20%)

    &:hover
      color rea-text

//  Convert to the style above & make a function dammit!

rea2-a = #ececec
rea2-b = #c8012e
rea2-c = #c8012e

#rea2
  background rea2-a
  color rea2-b

  .btn
    background rea2-c
    color rea2-a
    box-shadow 0 btn-depth 0 darken(rea2-c, 20%)

  .flex-control-paging li a
    border 1px rea2-b solid

    &.flex-active
      background rea2-b

  .flex-direction-nav a
    color darken(rea2-a, 20%)

    &:hover
      color rea2-b

tiger-a = #fc9300
tiger-b = white
tiger-c = #26A9E1

#tiger
  background tiger-a
  color tiger-b

  .btn
    background tiger-c
    color tiger-b
    box-shadow 0 btn-depth 0 darken(tiger-c, 20%)

  .flex-control-paging li a
    border 1px tiger-b solid

    &.flex-active
      background tiger-b

  .flex-direction-nav a
    color darken(tiger-a, 20%)

    &:hover
      color tiger-b

pin-a = #6c3
pin-b = white
pin-c = #004C74

#pin
  background pin-a
  color pin-b

  .btn
    background pin-c
    color pin-b
    box-shadow 0 btn-depth 0 darken(pin-c, 20%)

  .flex-control-paging li a
    border 1px pin-b solid

    &.flex-active
      background pin-b

  .flex-direction-nav a
    color darken(pin-a, 20%)

    &:hover
      color pin-b


zoe-a = #35a6df
zoe-b = white
zoe-c = #004C74

#zoe
  background zoe-a
  color zoe-b

  .btn
    background zoe-c
    color zoe-b
    box-shadow 0 btn-depth 0 darken(zoe-c, 20%)

  .flex-control-paging li a
    border 1px zoe-b solid

    &.flex-active
      background zoe-b

  .flex-direction-nav a
    color darken(zoe-a, 20%)

    &:hover
      color zoe-b

totalghost-bg        = #1f1f1f
totalghost-text      = turquoise
totalghost-btn       = deeppink
totalghost-btn-color = white

#totalghost
  background totalghost-bg
  color totalghost-text

  .btn
    background totalghost-btn
    color totalghost-btn-color
    box-shadow 0 btn-depth 0 darken(totalghost-btn, 20%)

  .flex-control-paging li a
    border 1px totalghost-text solid

    &.flex-active
      background totalghost-text

  .flex-direction-nav a
    color darken(totalghost-bg, 20%)

    &:hover
      color totalghost-text
