//  !TODO Convert to the styles to a function dammit!


btn-depth = 5px

suncorp-bg        = #006f66
suncorp-text      = whitesmoke
suncorp-btn       = #5ebfbc
suncorp-btn-color = white

#suncorp
  background suncorp-bg
  // background linear-gradient(top, suncorp-bg, lighten(suncorp-bg, 15%))
  color suncorp-text

  .btn
    background suncorp-btn
    color suncorp-btn-color
    box-shadow 0 btn-depth 0 darken(suncorp-btn, 20%)

  .flex-control-paging li a
    border 1px suncorp-text solid

    &.flex-active
      background suncorp-text

  .flex-direction-nav a
    color darken(suncorp-bg, 20%)

    &:hover
      color suncorp-text



rea-bg        = #c8012e
rea-text      = white
rea-btn       = whitesmoke
rea-btn-color = #5d5d5d

#rea
  background rea-bg
  // background linear-gradient(top, rea-bg, lighten(rea-bg, 15%))
  color rea-text

  .btn
    background rea-btn
    color rea-btn-color
    box-shadow 0 btn-depth 0 darken(rea-btn, 20%)

  .flex-control-paging li a
    border 1px rea-text solid

    &.flex-active
      background rea-text

  .flex-direction-nav a
    color darken(rea-bg, 20%)

    &:hover
      color rea-text

rea2-bg        = #909db0
rea2-text      = white
rea2-btn       = #c8012e
rea2-btn-color = white

#rea2
  background rea2-bg
  // background linear-gradient(top, rea2-bg, lighten(rea2-bg, 15%))
  color rea2-text

  .btn
    background rea2-btn
    color rea2-btn-color
    box-shadow 0 btn-depth 0 darken(rea2-btn, 20%)

  .flex-control-paging li a
    border 1px rea2-text solid

    &.flex-active
      background rea2-text

  .flex-direction-nav a
    color darken(rea2-bg, 20%)

    &:hover
      color rea2-text

tiger-bg        = #fc9300
tiger-text      = white
tiger-btn       = #26A9E1
tiger-btn-color = white

#tiger
  background tiger-bg
  // background linear-gradient(top, tiger-bg, lighten(tiger-bg, 15%))
  color tiger-text

  .btn
    background tiger-btn
    color tiger-btn-color
    box-shadow 0 btn-depth 0 darken(tiger-btn, 20%)

  .flex-control-paging li a
    border 1px tiger-text solid

    &.flex-active
      background tiger-text

  .flex-direction-nav a
    color darken(tiger-bg, 20%)

    &:hover
      color tiger-text


pin-bg        = #6c3
pin-text      = white
pin-btn       = #004C74
pin-btn-color = white

#pin
  background pin-bg
  // background linear-gradient(top, pin-bg, lighten(pin-bg, 15%))
  color pin-text

  .btn
    background pin-btn
    color pin-btn-color
    box-shadow 0 btn-depth 0 darken(pin-btn, 20%)

  .flex-control-paging li a
    border 1px pin-text solid

    &.flex-active
      background pin-text

  .flex-direction-nav a
    color darken(pin-bg, 20%)

    &:hover
      color pin-text

zoe-bg        = #35a6df
zoe-text      = white
zoe-btn       = #004C74
zoe-btn-color = white

#zoe
  background zoe-bg
  // background linear-gradient(top, zoe-bg, lighten(zoe-bg, 15%))
  color zoe-text

  .btn
    background zoe-btn
    color zoe-btn-color
    box-shadow 0 btn-depth 0 darken(zoe-btn, 20%)

  .flex-control-paging li a
    border 1px zoe-text solid

    &.flex-active
      background zoe-text

  .flex-direction-nav a
    color darken(zoe-bg, 20%)

    &:hover
      color zoe-text

totalghost-bg        = #111
totalghost-text      = deeppink
totalghost-btn       = blueviolet
totalghost-btn-color = white

#totalghost
  background totalghost-bg
  color totalghost-text

  .btn
    background totalghost-btn
    color totalghost-btn-color
    box-shadow 0 btn-depth 0 darken(totalghost-btn, 20%)

  .flex-control-paging li a
    border 1px totalghost-text solid

    &.flex-active
      background totalghost-text

  .flex-direction-nav a
    color darken(totalghost-bg, 20%)

    &:hover
      color totalghost-text
