btn-depth = 6px

suncorp-bg        = #006c64
suncorp-text      = whitesmoke
suncorp-btn       = #62a6a4
suncorp-btn-color = white

#suncorp

  background suncorp-bg
  color suncorp-text

  .btn
    background suncorp-btn
    color suncorp-btn-color
    box-shadow 0 btn-depth 0 darken(suncorp-btn, 20%)

  .flex-control-paging li a
    border 1px suncorp-text solid

    &.flex-active
      background suncorp-text

  .flex-direction-nav a
    color darken(suncorp-bg, 20%)

    &:hover
      color suncorp-text


//  Convert to the style above & make a function dammit!

rea-a = #c8012e
rea-b = white
rea-c = whitesmoke

#rea
  background rea-a
  color rea-b

  .btn
    background rea-c
    color rea-a
    box-shadow 0 btn-depth 0 darken(rea-c, 20%)

  .flex-control-paging li a
    border 1px rea-b solid

    &.flex-active
      background rea-b

  .flex-direction-nav a
    color darken(rea-a, 20%)

    &:hover
      color rea-b

tiger-a = #FEAA00
tiger-b = white
tiger-c = #26A9E1

#tiger
  background tiger-a
  color tiger-b

  .btn
    background tiger-c
    color tiger-b
    box-shadow 0 btn-depth 0 darken(tiger-c, 20%)

  .flex-control-paging li a
    border 1px tiger-b solid

    &.flex-active
      background tiger-b

  .flex-direction-nav a
    color darken(tiger-a, 20%)

    &:hover
      color tiger-b

zoe-a = #35a6df
zoe-b = white
zoe-c = #004C74

#zoe
  background zoe-a
  color zoe-b

  .btn
    background zoe-c
    color zoe-b
    box-shadow 0 btn-depth 0 darken(zoe-c, 20%)

  .flex-control-paging li a
    border 1px zoe-b solid

    &.flex-active
      background zoe-b

  .flex-direction-nav a
    color darken(zoe-a, 20%)

    &:hover
      color zoe-b
