.gallery
  position relative
  width 100%
  padding-bottom: 100%
  margin 0 auto

  &.iphone

    .frame
      position absolute
      top 0
      right 0
      bottom 0
      left 0
      margin 23% 29% 2.9% 29%
      background black
      border 2px black solid

    &.white
      background-image url('/images/gallery-iphone5-white.png')
      background-size cover

    &.black
      background-image url('/images/gallery-iphone5-black.png')
      background-size cover

  &.ipad

    .frame
      position absolute
      top 0
      right 0
      bottom 0
      left 0
      margin 19% 20% 1.2% 20%
      background black
      border 2px black solid

    &.white
      background-image url('/images/gallery-ipad-mini-white.png')
      background-size cover

    &.black
      background-image url('/images/gallery-ipad-mini-black.png')
      background-size cover

  &.imac
    background-image url('/images/gallery-imac.png')
    background-size cover
    
    .frame
      position absolute
      top 0
      right 0
      bottom 0
      left 0
      margin 35% 7% 20.2% 7%
      background black
      border 2px black solid

@media (min-width: 720px)

  .project
    .gallery
      width 720px
      padding-bottom 720px
    
      .flexslider .flex-direction-nav li a
        text-indent 0 !important