html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  text-align: center;
  font-family: 'HelveticaNeue-Light', sans-serif;
  min-width: 320px;
}
img {
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'HelveticaNeue-Light', sans-serif;
  line-height: 100%;
  letter-spacing: -0.05em;
  margin: 0.2em 0 0.4em;
}
h1 {
  font-size: 320%;
}
h2 {
  font-size: 280%;
}
h3 {
  font-size: 220%;
}
h4 {
  font-size: 160%;
}
h5 {
  font-size: 140%;
}
@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot?75581819");
  src: url("../fonts/fontello.eot?75581819#iefix") format('embedded-opentype'), url("../fonts/fontello.svg?75581819#fontello") format('svg');
  font-weight: normal;
  font-style: normal;
}
.container {
  max-width: 540px;
  margin: 0 auto;
}
header {
  background: #fff;
  padding: 20px;
}
.btn {
  display: inline-block;
  border: none;
  padding: 16px 28px;
  text-decoration: none;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  min-width: 138px;
  margin-top: 10px;
}
.btn + .btn {
  margin-left: 10px;
}
.project {
  padding: 20px 0 0;
}
.project p {
  line-height: 140%;
  margin-bottom: 0.8em;
}
.project .container {
  padding: 0 1em 2em 1em;
}
.project .gallery {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  margin: 0 auto;
}
.project .gallery.iphone {
  background-image: url("/images/gallery-iphone5-white.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.project .gallery.iphone .frame {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 23% 29% 2.8% 29%;
  background: #000;
  border: 2px #000 solid;
}
.social {
  font-family: 'fontello', display;
  margin-top: 20px;
}
.social li {
  display: inline-block;
  margin-left: 20px;
}
.social li:first-child {
  margin: 0;
}
.social li a {
  font-size: 200%;
  text-decoration: none;
  color: #f5f5f5;
}
footer {
  padding: 40px 10px;
  background: #333;
  color: #f5f5f5;
}
@media (min-width: 720px) {
  .project .gallery {
    width: 720px;
    padding-bottom: 720px;
  }
  .iphone .flexslider .flex-direction-nav li a {
    text-indent: 0 !important;
  }
}
.iphone .flexslider {
  position: relative;
  margin: 0 auto;
}
.iphone .flexslider .flex-control-paging {
  margin-top: -60%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 44;
  cursor: pointer;
}
.iphone .flexslider .flex-control-paging li {
  display: inline-block;
  margin-right: 8px;
}
.iphone .flexslider .flex-control-paging li a {
  display: block;
  overflow: hidden;
  height: 8px;
  width: 8px;
  text-indent: -200%;
  -webkit-border-radius: 12px;
  border-radius: 12px;
}
.iphone .flexslider .flex-control-paging li a:last-child {
  margin-right: 0;
}
.iphone .flexslider .flex-direction-nav {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.iphone .flexslider .flex-direction-nav li {
  position: absolute;
  height: 100%;
  width: 40%;
  overflow: hidden;
}
.iphone .flexslider .flex-direction-nav li a {
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -60px;
  width: 100%;
  height: 120px;
  line-height: 120px;
  font-family: "fontello", display;
  text-decoration: none;
  font-size: 300%;
  color: #fff;
  text-indent: 200%;
}
.iphone .flexslider .flex-direction-nav li:first-child {
  left: -40%;
  text-align: left;
}
.iphone .flexslider .flex-direction-nav li:last-child {
  right: -40%;
  text-align: right;
}
#suncorp {
  background: #f5f5f5;
  color: #006c64;
}
#suncorp .btn {
  background: #62a6a4;
  color: #f5f5f5;
}
#suncorp .flex-control-paging li a {
  border: 1px #006c64 solid;
}
#suncorp .flex-control-paging li a.flex-active {
  background: #006c64;
}
#suncorp .flex-direction-nav a {
  color: #c4c4c4;
}
#suncorp .flex-direction-nav a:hover {
  color: #006c64;
}
#rea {
  background: #c8012e;
  color: #fff;
}
#rea .btn {
  background: #a00125;
  color: #fff;
}
#rea .flex-control-paging li a {
  border: 1px #fff solid;
}
#rea .flex-control-paging li a.flex-active {
  background: #fff;
}
#rea .flex-direction-nav a {
  color: #a00125;
}
#rea .flex-direction-nav a:hover {
  color: #fff;
}
#zoe {
  background: #35a6df;
  color: #fff;
}
#zoe .btn {
  background: #004c74;
  color: #fff;
}
#zoe .flex-control-paging li a {
  border: 1px #fff solid;
}
#zoe .flex-control-paging li a.flex-active {
  background: #fff;
}
#zoe .flex-direction-nav a {
  color: #1e89bf;
}
#zoe .flex-direction-nav a:hover {
  color: #fff;
}
