article#pin.project
  .container
    h2 Parents Insight Network
    p Ad meggings leggings odio incididunt. Chambray eiusmod Bushwick, pour-over disrupt Godard tattooed. Sunt freegan food truck assumenda.
  .gallery.ipad.white.fade-it
    .frame
      .flexslider
        ul.slides
          li
            img(src='/projects/pin-site-01.jpg', alt='Parents Insight Network responsive website')