article#rea.project
  .container
    h2 REA Group
    p Ad meggings leggings odio incididunt. Chambray eiusmod Bushwick, pour-over disrupt Godard tattooed. Sunt freegan food truck assumenda.
    a(href="#").btn.btn-large Visit website
  .gallery.iphone
    .frame
      .flexslider
        ul.slides
          li
            img(src='/projects/rea-mobile-site-01.jpg', alt='realestate.com.au mobile site')
          li
            img(src='/projects/rea-mobile-site-02.jpg', alt='realestate.com.au mobile site')