article#rea2.project
  .container
    h2 realestate.com.au
    p Ad meggings leggings odio incididunt. Chambray eiusmod Bushwick, pour-over disrupt Godard tattooed. Sunt freegan food truck assumenda.
    a(href="#").btn.btn-large Visit website
  .gallery.imac.black
    .frame
      .flexslider
        ul.slides
          li
            img(src='/projects/rea-desktop-site-01.jpg', alt='realestate.com.au site redesign')