article#tiger.project
  .container
    h2 Tiger air
    p Ad meggings leggings odio incididunt. Chambray eiusmod Bushwick, pour-over disrupt Godard tattooed. Sunt freegan food truck assumenda.
  .gallery.ipad.white
    .frame
      .flexslider
        ul.slides
          li
            img(src='/projects/tigerair-site-01.jpg', alt='tiger air responsive website mockup')