article#tiger.project
  .container
    h2 Tiger air
    p Ad meggings leggings odio incididunt. Chambray eiusmod Bushwick, pour-over disrupt Godard tattooed. Sunt freegan food truck assumenda.
    a(href="#").btn.btn-large Visit website  
  .gallery.ipad.black.fade-it
    .frame
      .flexslider
        ul.slides
          li
            img(src='/projects/tigerair-site-01.jpg', alt='tiger air responsive website mockup')