article#zoe.project
  .container
    h2 Standard Chartered Bank
    p Ad meggings leggings odio incididunt. Chambray eiusmod Bushwick, pour-over disrupt Godard tattooed. Sunt freegan food truck assumenda.
  .gallery.iphone.black.fade-it
    .frame
      .flexslider
        ul.slides
          li
            img(src='/projects/sc-zoe-app-01.jpg', alt='Standard Chartered Zoe app')
          li
            img(src='/projects/sc-zoe-app-02.jpg', alt='Standard Chartered Zoe app')
